In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

# df.head(1).T

In [22]:
df.columns = df.columns.str.lower().str.replace(' ','_')

categorical_columns = list(df.dtypes[df.dtypes=="object"].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ','_')

In [23]:
df.head(1).T

                                 0
customerid              7590-vhveg
gender                      female
seniorcitizen                    0
partner                        yes
dependents                      no
tenure                           1
phoneservice                    no
multiplelines     no_phone_service
internetservice                dsl
onlinesecurity                  no
onlinebackup                   yes
deviceprotection                no
techsupport                     no
streamingtv                     no
streamingmovies                 no
contract            month-to-month
paperlessbilling               yes
paymentmethod     electronic_check
monthlycharges               29.85
totalcharges                 29.85
churn                           no

In [24]:
df.totalcharges = df.totalcharges.fillna(0)

In [25]:
df.churn = (df.churn=='yes').astype(int)

### Setting up the validation framework

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
df_full_train, df_test = train_test_split(df,test_size=0.2,random_state=1)
len(df_full_train), len(df_test)

(5634, 1409)

In [28]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25,random_state=1)
len(df_train), len(df_val)

(4225, 1409)

In [29]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.churn.values
y_val = df_val.churn.values
y_test = df_test.churn.values

del df_train['churn']
del df_val['churn']
del df_test['churn']